<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMIUK0YnR32rtJnrSzYf7z1J2_RE-5GEU</string>
	<key>GCM_SENDER_ID</key>
	<string>162750515867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.TestGP</string>
	<key>PROJECT_ID</key>
	<string>pppp-547de</string>
	<key>STORAGE_BUCKET</key>
	<string>pppp-547de.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162750515867:ios:1c1ef9fcb2b42bd58cd43e</string>
</dict>
</plist>